---
import { getCollection, render } from "astro:content"
import NavBar from "@components/navbar"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props
const { Content } = await render(post)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>Nate's Blog</title>
  </head>
  <body class="bg-zinc-100 flex flex-col">
    <NavBar client:load />
    <div class="px-8 py-4 mx-auto">
      <h1 class="font-bold text-4xl">{post.data.title}</h1>
      <p class="font-medium text-gray-500 text-2xl mt-1">
        written on {
          post.data.pubDate.toLocaleDateString("en-us", { timeZone: "UTC" })
        }
      </p>
      <div class="mt-2 text-xl">
        <Content />
      </div>
    </div>
  </body>
</html>
