---
import NavBar from "@components/navbar"
import { getCollection } from "astro:content"
const posts = await getCollection("blog")
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>Nate's Blog</title>
  </head>
  <body class="bg-zinc-100 flex flex-col">
    <NavBar client:load />
    <div class="px-8 py-4 mx-auto">
      <h1 class="text-4xl font-semibold">Blog Posts</h1>
      <ul class="mt-2">
        {
          posts.map((post) => (
            <li class="text-xl font-medium group">
              <a href={"/blog/" + post.id} class="group-hover:underline">
                {post.data.pubDate.toLocaleDateString('en-US', {timeZone: 'UTC'})} - {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
