---
import Layout from "../../layouts/main.astro"
import FormattedDate from "../../components/FormattedDate.astro"
import { getCollection } from 'astro:content';

const collection = await getCollection("devBlog")
const devPosts = collection.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---
<Layout title="Blog | Nate Wong">
  <div class="w-full max-w-xl mx-auto my-12">
    <h1 class="text-xl font-semibold">
      <a href="/" class="hover:underline">
Nate's
      </a>
      Blog</h1>
    <p class="mt-4 text-red bg-stone-300 p-2">
      Development
    </p>
    <ul class="space-y-2 py-4">
      {devPosts.map((post) => (
      <li>
        <a href={`/blog/dev-blog/${post.id}`} class="text-stone-500 flex space-x-4 group hover:bg-stone-100 transition-colors">
          <div class="bg-red h-6 w-1 opacity-0 group-hover:opacity-100 transition-opacity"></div>
          <FormattedDate date={post.data.pubDate} />
          <p class="text-stone-900">{post.data.title}</p>
        </a>
      </li>
      ))}
    </ul>
    <p class="mt-2 text-red bg-stone-300 p-2">
      Life, ramblings, hobbies, and more
    </p>
    <p class="text-stone-800 mt-2">{">"} Coming soon</p>
  </div>
</Layout>
