@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Font families */
  --font-sans: "Segoe UI", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-playfair: "Playfair Display", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-noto: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-jetbrains: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-plex: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  /* Custom colors */
  --color-bg: #161617;
  --color-fg: #c9c7cd;
  --color-bg-dark: #131314;
  --color-black: #27272a;

  --color-subtext-1: #b4b1ba;
  --color-subtext-2: #9f9ca6;
  --color-subtext-3: #8b8693;
  --color-subtext-4: #6c6874;

  --color-red: #c45570;
  --color-green: #90b99f;
  --color-yellow: #bc9781;
  --color-purple: #8787bf;
  --color-magenta: #b882a5;
  --color-orange: #c88477;
  --color-blue: #6a8cbc;
  --color-cyan: #85b5ba;

  --color-bright-black: #353539;
  --color-bright-red: #d17286;
  --color-bright-green: #9dc6ac;
  --color-bright-yellow: #ebc4ad;
  --color-bright-purple: #b9aeda;
  --color-bright-magenta: #e8aed3;
  --color-bright-orange: #f9b1a3;
  --color-bright-blue: #a6b6e9;
  --color-bright-cyan: #99c9ce;

  /* Xbox green palette */
  --color-xbox-green: #107c10;
  --color-xbox-green-light: #4ec34e;
  --color-xbox-green-dark: #0e6b0e;
  --color-xbox-green-bright: #8dd68d;

  --color-gray-0: #18181a;
  --color-gray-1: #1b1b1c;
  --color-gray-2: #2a2a2c;
  --color-gray-3: #313134;
  --color-gray-4: #3b3b3e;
}

/* Typography customization */
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: none;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: var(--color-stone-300);
  border-radius: 0.25rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.prose
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-style: normal;
  color: var(--color-stone-800);
  background-color: var(--color-stone-300);
  padding: 0.5rem;
  border-left-width: 0;
}
