---
import Layout from "../layouts/main.astro"
---

<Layout title="Nate Wong">
  <div class="w-full max-w-xl mx-auto my-12">
      <h1 class="text-xl font-semibold">Nate Wong</h1>
      <p class="mt-2">{ ">" } Software engineer, currently at Cloudflare</p>
      <p class="mt-2">{ ">" } Austin, Texas</p>
      <p class="text-stone-800 mt-4">In high school, I developed arbitrage software that helped thousands of users obtain limited edition sneakers and apparel before they sold out. Since then, I've worked on several unsuccessful ventures but continue to hone my craft and love for the game.</p>
      <p class="mt-4 text-stone-800 bg-stone-300 p-2">
        <a href="/blog" class="text-red hover:underline">Read my blog</a>, where I detail a lot of the weird developer side quests I stumble upon
      </p>
    </div>
</Layout>

