---
import NavBar from "@components/navbar"
const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-zinc-100 flex flex-col">
    <NavBar client:load />
    <div class="px-8 py-4 mx-auto text-2xl">
      <slot />
    </div>
  </body>
</html>
