---
import { SEO } from 'astro-seo';

const {title, description = "Personal website of Nate Wong - Software engineer at Cloudflare"} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700,1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <SEO 
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: 'https://github.com/natewong1313.png',
          url: canonicalURL.href,
        },
        image: {
          url: 'https://github.com/natewong1313.png',
          alt: 'Nate Wong',
        }
      }}
      twitter={{
        creator: '@natewong69',
        card: 'summary'
      }}
    />
  </head>
  <body class="bg-stone-200 flex font-plex px-4 md:px-0">
      <slot />
  </body>
</html>
